https://huggingface.co/bigscience/bloom-560m?text=%22Recreation%22.+Today+I+would+like+to

In [8]:
import pandas as pd
import numpy as np
from transformers import AutoTokenizer, AutoModelForMaskedLM

In [2]:
PATH = "/home/simon/Documents/scripts/from_headlines_to_hotspots/data/raw/shards_out/shard_0.parquet"
df = pd.read_parquet(PATH)

def concatenate_columns(row):
    return f"{row['publication_datetime']}, {row['publisher_name']}, {row['title']}, {row['snippet']}, {row['body']}"

df['text_block'] = df.apply(concatenate_columns, axis=1)

In [3]:
tokenizer = AutoTokenizer.from_pretrained("bert-base-uncased")
model = AutoModelForMaskedLM.from_pretrained("bert-base-uncased")

Downloading (…)okenizer_config.json: 100%|██████████| 28.0/28.0 [00:00<00:00, 4.50kB/s]
Downloading (…)lve/main/config.json: 100%|██████████| 570/570 [00:00<00:00, 760kB/s]
Downloading (…)solve/main/vocab.txt: 100%|██████████| 232k/232k [00:00<00:00, 1.15MB/s]
Downloading (…)/main/tokenizer.json: 100%|██████████| 466k/466k [00:00<00:00, 1.56MB/s]
Downloading pytorch_model.bin: 100%|██████████| 440M/440M [00:05<00:00, 84.8MB/s]
Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForMaskedLM: ['cls.seq_relationship.bias', 'cls.seq_relationship.weight']
- This IS expected if you are initializing BertForMaskedLM from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForMaskedLM from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [4]:
df.apply(concatenate_columns, axis=1)[0]

'2016-07-29 00:00:00, Al Jazeera International, Rescued refugees detail abuse in Libya, Rescued at sea, refugees are subject to kidnapping, torture and rape in Libya, according to Doctors Without Borders., Poverty, persecution and conflict are among the reasons refugees were forced to flee their homelands. By the time they were rescued from sinking boats on the Mediterranean Sea, they had another more urgent motive: escape from Libya. Endalkachew Gebrehiwot, a refugee, told Al Jazeera that during the 10 months he was in Libya, human smugglers had kidnapped him twice. Unable to pay a $4,500 ransom, he said the smugglers forced him to work and whipped him every day with electrical cable. "It is the will of God, that I survived. You don\'t expect to survive that concentration camp," he said. Kim Clausen, from the Doctors Without Borders organisation, described the conditions in Libya as "horrible". "Right now, [what\'s] going on in Libya, it\'s what we\'d call slave trading, it\'s forced prostitution, mass rapes. It\'s torture. It\'s kidnapping for ransom by the smugglers and they sell the refugees." Endalkachew said the situation was so bad, he would rather "die at sea" than remain in Libya. Al Jazeera'

In [5]:
'title', 'publication_datetime', 'publisher_name',

('title', 'publication_datetime', 'publisher_name')

In [6]:
# Step 1: Define a function to concatenate the values from the desired columns
def concatenate_columns(row):
    return f"{row['column1']}_{row['column2']}_{row['column3']}"

# Step 2: Use the apply() method to create the new column
df['concatenated_column'] = df.apply(concatenate_columns, axis=1)

# Display the updated DataFrame with the new column
print(df)

KeyError: 'column1'

In [ ]:
mask =  (df['actor_a']  == 234) & (df['year'] == 2020) & (df['year']  == 7)

In [ ]:
df[mask]

,an,copyright,subject_codes,modification_datetime,body,company_codes_occur_ticker_exchange,company_codes_occur,company_codes_about,company_codes_lineage,company_codes_ticker_exchange,...,gwcode,isoab,geoid,latitude,longitude,pg_id,name,cur_id,ner,month
6326,AFPR000020200722eg7m00hil,"Copyright Agence France-Presse, 2020 All repro...",",gdev,gmurd,gterr,gkdnap,gcat,gcns,gcrim,gdip,...",2020-07-22 20:23:06,"""It is with profound grief that we confirm the...",,",iresce,bokoh,aahung,",",aqdirq,iresce,aahung,",,,...,475.0,NGA,25701.0,11.5,13.0,146547.0,Borno state,6326,"[[some 7.9 million, CARDINAL], [IRC, ORG], [Mo...",7

In [ ]:
df.head()

,an,copyright,subject_codes,modification_datetime,body,company_codes_occur_ticker_exchange,company_codes_occur,company_codes_about,company_codes_lineage,company_codes_ticker_exchange,...,gwcodeab,gwcode,isoab,geoid,latitude,longitude,pg_id,name,cur_id,ner
0,AJAZEN0020160729ec7t000p1,Copyright 2016 Al Jazeera English.,",gkdnap,gimm,gtortu,gcat,gcom,gcrim,ghum,gpir,",2016-07-29 14:03:20,"Poverty, persecution and conflict are among th...",,,",doctwb,",,,...,None,NaN,None,NaN,NaN,NaN,NaN,None,0,"[[4,500, MONEY], [Endalkachew Gebrehiwot, PERS..."
1,AJAZEN0020161002eca100009,Copyright 2016 Al Jazeera English.,",gbolly,gcat,gent,gmovie,",2016-10-02 05:01:18,Indian films made in Bollywood are being boyco...,,,,,,...,None,NaN,None,NaN,NaN,NaN,NaN,None,1,"[[Hazem Sika\n\nGuests, PERSON], [Kashmir, LOC..."
2,AJAZEN0020161021ecal000ru,Copyright 2016 Al Jazeera English.,",ghum,gcrim,gvio,gwar,gcat,gcns,gcom,grisk,",2016-10-21 15:06:12,Zeid Ra'ad al Hussein's comments on Friday cam...,,",utdnat,iccou,",",utdnat,unhrc,iccou,",,,...,None,NaN,None,NaN,NaN,NaN,NaN,None,2,"[[Al-Mayadeen TV, ORG], [German, NORP], [82, C..."
3,AJAZEN0020161011ecab000uo,Copyright 2016 Al Jazeera English.,",gterr,gcat,gcns,gcrim,ncat,nfact,nfcpex,",2016-10-11 14:05:04,Myth 1: ISIL emerged out of a vacuum\n\nDuring...,,,",aqdirq,",,,...,None,NaN,None,NaN,NaN,NaN,NaN,None,3,"[[Abu Sayyaf, PERSON], [2, CARDINAL], [Iran, G..."
4,AJAZEN0020160909ec99000dx,Copyright 2016 Al Jazeera English.,",gexplo,gcat,gdis,gmmdis,",2016-09-09 08:06:17,An earthquake with a magnitude of 5.3 was dete...,,",usglsy,unscou,jpmtag,",",usglsy,unscou,",,,...,None,NaN,None,NaN,NaN,NaN,NaN,None,4,"[[Meteorological Agency's, ORG], [January, DAT..."

In [ ]:
df.columns

Index(['an', 'copyright', 'subject_codes', 'modification_datetime', 'body',
       'company_codes_occur_ticker_exchange', 'company_codes_occur',
       'company_codes_about', 'company_codes_lineage',
       'company_codes_ticker_exchange', 'snippet',
       'company_codes_relevance_ticker_exchange', 'market_index_codes',
       'section', 'company_codes_association_ticker_exchange',
       'currency_codes', 'company_codes_about_ticker_exchange',
       'region_of_origin', 'company_codes_lineage_ticker_exchange',
       'ingestion_datetime', 'availability_datetime', 'modification_date',
       'source_name', 'language_code', 'region_codes',
       'company_codes_association', 'person_codes', 'byline', 'dateline',
       'company_codes_relevance', 'source_code', 'word_count', 'company_codes',
       'industry_codes', 'title', 'publication_datetime', 'publisher_name',
       'action', 'base_name', 'an_wide', 'ged_id', 'what', 'date_end', 'year',
       'best', 'high', 'deaths_a', 'deaths_b', 'geoprecision_id', 'tv',
       'dyad_id', 'actor_a', 'actor_b', 'country_name', 'gwcodeab', 'gwcode',
       'isoab', 'geoid', 'latitude', 'longitude', 'pg_id', 'name', 'cur_id',
       'ner'],
      dtype='object')

In [ ]:
df['publication_datetime']

0      2016-07-29 00:00:00
1      2016-10-01 00:00:00
2      2016-10-21 00:00:00
3      2016-10-11 00:00:00
4      2016-09-09 00:00:00
               ...
9995   2015-05-19 17:03:20
9996   2015-08-18 08:33:09
9997   2015-03-24 11:42:58
9998   2015-02-12 12:21:31
9999   2015-10-21 10:47:15
Name: publication_datetime, Length: 10000, dtype: datetime64[ns]

In [ ]:
234
# Assuming your DataFrame is already loaded into the variable df
# and the date_time_column is of pandas datetime type

# Step 1: Extract the month from the date_time_column
df['month'] = df['date_time_column'].dt.month

# Step 2: Filter the DataFrame for the specific month you want (e.g., month = 7 for July)
target_month = 7
df_specific_month = df[df['month'] == target_month]

In [ ]:
df['actor_a'].unique()

array([  nan,  234., 3740.,   95., 3714.,   91.,   84., 3736., 3753.,
       3672.,   10.,  116.,   89.,  154.,  115.,  111., 7523.,  114.,
        112.,  130.,   72.,  209.,   83., 8218.,  145., 7542.,  121.,
         21.,   87.,   93., 3698., 3596.,  142., 1146., 5802., 1012.,
        123., 3635.,  881.,  138., 3633.,   75., 7463., 3671.,   97.,
         64., 3680., 8041., 3621.,  109.,  118.,  110.,  117., 1089.,
         17., 3630., 3762., 3764., 6371., 3695.,  100., 3659.])

In [ ]:
df['actor_b'].unique()

array([      nan, 1.000e+00, 3.740e+03, 7.170e+02, 3.714e+03, 2.340e+02,
       3.736e+03, 3.753e+03, 1.151e+03, 5.610e+02, 2.760e+02, 3.230e+02,
       6.689e+03, 6.288e+03, 3.090e+02, 7.553e+03, 3.030e+02, 7.332e+03,
       2.430e+02, 8.358e+03, 2.080e+02, 7.500e+02, 3.698e+03, 3.596e+03,
       3.560e+02, 1.051e+03, 1.158e+03, 5.802e+03, 9.930e+02, 6.254e+03,
       3.635e+03, 3.633e+03, 1.210e+02, 6.716e+03, 6.534e+03, 2.090e+02,
       2.070e+02, 7.463e+03, 3.671e+03, 4.100e+02, 3.380e+02, 3.680e+03,
       1.160e+03, 2.020e+02, 3.621e+03, 5.390e+02, 4.456e+03, 6.844e+03,
       7.750e+02, 7.440e+02, 7.528e+03, 7.517e+03, 3.762e+03, 3.695e+03,
       1.123e+03])

In [ ]:
df['region_of_origin']

0       ASIA GULFST MEASTZ QATAR WASIAZ
1       ASIA GULFST MEASTZ QATAR WASIAZ
2       ASIA GULFST MEASTZ QATAR WASIAZ
3       ASIA GULFST MEASTZ QATAR WASIAZ
4       ASIA GULFST MEASTZ QATAR WASIAZ
                      ...
9995                 AFRICA SAFR SOUAFR
9996                 AFRICA SAFR SOUAFR
9997                 AFRICA SAFR SOUAFR
9998                 AFRICA SAFR SOUAFR
9999                 AFRICA SAFR SOUAFR
Name: region_of_origin, Length: 10000, dtype: object

In [ ]:
df[df['actor_a'].notna()]['deaths_a']

1025    0.0
1029    1.0
1035    0.0
1122    0.0
1225    0.0
       ...
9625    0.0
9664    0.0
9665    1.0
9793    0.0
9999    0.0
Name: deaths_a, Length: 221, dtype: float64

In [ ]:
df[df['actor_b'].notna()]['deaths_b']

1025    0.0
1029    0.0
1035    0.0
1122    3.0
1225    6.0
       ...
9625    0.0
9664    0.0
9665    1.0
9793    1.0
9999    3.0
Name: deaths_b, Length: 221, dtype: float64

In [ ]:
df[df['actor_a'].notna()]['actor_a']

1025     234.0
1029    3740.0
1035      95.0
1122    3714.0
1225      95.0
         ...
9625    3740.0
9664      95.0
9665     112.0
9793     109.0
9999     109.0
Name: actor_a, Length: 221, dtype: float64

In [ ]:
df[df['actor_b'].notna()]['actor_b']

1025       1.0
1029    3740.0
1035     717.0
1122    3714.0
1225     717.0
         ...
9625    3740.0
9664     717.0
9665    1123.0
9793     539.0
9999     539.0
Name: actor_b, Length: 221, dtype: float64

In [ ]:
df['ner']

0       [[4,500, MONEY], [Endalkachew Gebrehiwot, PERS...
1       [[Hazem Sika\n\nGuests, PERSON], [Kashmir, LOC...
2       [[Al-Mayadeen TV, ORG], [German, NORP], [82, C...
3       [[Abu Sayyaf, PERSON], [2, CARDINAL], [Iran, G...
4       [[Meteorological Agency's, ORG], [January, DAT...
                              ...
9995    [[Liberia, GPE], [Joseph N. Boakai, PERSON], [...
9996    [[Nyeri, ORG], [two, CARDINAL], [G.K. King'ong...
9997    [[Kilo4.5, PERSON], [two, CARDINAL], [the civi...
9998    [[Sunday, DATE], [last week, DATE], [Tuesday, ...
9999    [[three, CARDINAL], [Oct 21, 2015, DATE], [3, ...
Name: ner, Length: 10000, dtype: object

In [ ]:
df['body'][0]

'Poverty, persecution and conflict are among the reasons refugees were forced to flee their homelands. By the time they were rescued from sinking boats on the Mediterranean Sea, they had another more urgent motive: escape from Libya. Endalkachew Gebrehiwot, a refugee, told Al Jazeera that during the 10 months he was in Libya, human smugglers had kidnapped him twice. Unable to pay a $4,500 ransom, he said the smugglers forced him to work and whipped him every day with electrical cable. "It is the will of God, that I survived. You don\'t expect to survive that concentration camp," he said. Kim Clausen, from the Doctors Without Borders organisation, described the conditions in Libya as "horrible". "Right now, [what\'s] going on in Libya, it\'s what we\'d call slave trading, it\'s forced prostitution, mass rapes. It\'s torture. It\'s kidnapping for ransom by the smugglers and they sell the refugees." Endalkachew said the situation was so bad, he would rather "die at sea" than remain in Libya. Al Jazeera'

In [ ]:
df['snippet'][0]

'Rescued at sea, refugees are subject to kidnapping, torture and rape in Libya, according to Doctors Without Borders.'